include AUTHORS
include CHANGELOG.rst
include LICENSE
include MANIFEST.in
include Makefile
include README.rst
include *.rst *.txt *.in
include *.py
recursive-include customerdataapi *
recursive-include requirements *
exclude requirements/*.txt
global-exclude __pycache__
global-exclude *.py[co] *~
prune build
prune dist
